* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.container {
  background: url("../bg/bg.png") no-repeat center;
  margin: 150px auto;
  width: 900px;
}

.mytask_icon {
  text-align: center;
}

.frame-wrapper {
  display: block;
}

.input-group {
  margin-top: 50px;
}

h2 {
  position: relative;
  bottom: 100px;
  text-align: center;
  font-family: "Cormorant SC", serif;
}

.todos-wrapper {
  display: block;
}
