body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  color: blueviolet;
}

h2 {
  color: indigo;
}

.frame-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid red;
}

.add-todo-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: burlywood;
}

.add-button-wrapper {
  justify-content: flex-end;
  display: flex;
  cursor: pointer;
  background-color: hotpink;
  border-radius: 10%;
  border: 1px solid black;
}

.todo-item {
  display: flex;
  width: 600px;
  min-height: 30px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid red;
}

.description {
  display: flex;
  align-items: center;
  width: 100%;
}

.buttons {
  color: red;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons button {
  height: 30px;
  width: 90px;
}

.on {
  background-color: black;
}

.checked {
  text-decoration: line-through;
}
