body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  color: blueviolet;
}

h2 {
  color: indigo;
}

.frame-wrapper {
  text-align: center;
  display: flex;
  position: relative;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-todo-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: burlywood;
}

.add-button-wrapper button {
  justify-content: flex-end;
  cursor: pointer;
  background-color: hotpink;
  border-radius: 10%;
  border: 1px solid black;
}

.todos-wrapper {
  border: 1px solid red;
  display: flex;
  flex-flow: column;
}

.btn-delete {
  color: red;
}
